[package]
name = "chitin_model"
version = "0.2.1"
authors = ["MROS <yc1043@gmail.com>"]
edition = "2018"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
chitin_core = { path = "../chitin-core" }